.root {
  -fx-background-color: #3b0707;
  -fx-font-size: 10pt;
  -fx-background-color: linear-gradient(#6d597a, #e56b6f);
}

.button {
  -fx-background-color: linear-gradient(#dc9656, #ab4642);
  -fx-background-radius: 8;
  /* -fx-font-size: 14; */
  -fx-text-fill: white;
}

#stocklabel {
  -fx-text-fill: white;
}

.label {
  -fx-text-fill: #c3d334;
  -fx-font-size: 16;
  -fx-font-weight: bold;
}

#showbalance {
  -fx-font-size: 20;
}

#bankbalance {
  -fx-font-size: 16;
}
